.gnav {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.8);
}

.gnav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.gnav-title {
  display: flex;
  align-items: center;
}

.gnav-ul {
  display: flex;
}

.gnav-ul > li > a {
  font-weight: 300;
  color: #fff;
  transition: color 200ms;
}

.gnav-ul > li > a:hover {
  color: #f78915;
}

.login-signup {
  display: flex;
  align-items: center;
}

.login-signup > a {
  color: #fff;
}

.gnav-signup {
  background-color: #f78915;
}

.main-sel-con {
  display: flex;
  width: 100%;
}

.main-sel-hl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 50vw;
  background-color: #fff;
}

.main-sel-ha {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 50vw;
  background-color: rgb(0, 0, 0, 0.8);
  color: #fff;
}

.main-rent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-rent-listing {
  display: grid;
  justify-content: space-between;
}

.main-rent-card {
  position: relative;
}

.main-rent-img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-rent-info {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.8);
  color: #fff;
  z-index: 3;
}

/* Cell phone */
@media (min-width: 360px) {
}
/* Tablets */
@media (min-width: 768px) {
}
/* MacBook Pro */
@media (min-width: 1024px) {
}
/* Extra large devices */
@media (min-width: 1440px) {
  .gnav-bar {
    width: 1412px;
    height: 100px;
  }

  .gnav-logo {
    width: 300px;
    height: 60px;
  }

  .gnav-ul > li {
    margin: 32px 16px 0 16px;
    font-size: 24px;
  }

  .login-signup > a {
    font-weight: 300;
    margin-left: 24px;
    font-size: 24px;
  }

  .gnav-signup {
    padding: 8px 16px;
    border-radius: 12px;
  }
  .main-sel-hl {
    height: 140px;
    padding-right: 40px;
  }
  .main-sel-ha {
    height: 140px;
    padding-left: 40px;
  }

  .main-sel-title {
    font-size: 32px;
  }

  .main-sel-subtitle {
    font-size: 16px;
  }

  .main-rent {
    margin-top: 36px;
  }

  .main-rent-listing {
    width: 1412px;
    grid-template-columns: 330px 330px 330px 330px;
    grid-template-rows: 280px 280px 280px 280px;
    row-gap: 20px;
  }

  .main-rent-img {
    border-radius: 16px;
  }

  .main-rent-info {
    width: 330px;
    height: 100px;
    padding: 0 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  .main-rent-city {
    font-size: 12px;
    margin-top: 4px;
  }

  .main-rent-term {
    font-size: 12px;
    margin-top: 4px;
  }

  .main-rent-price {
    height: 72px;
    font-size: 24px;
    font-weight: 700;
  }
}
/* Extra large devices */
@media (min-width: 1920px) {
}
